body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main.games {
  width: 90%;
  margin: 0px auto;
  padding: 0;
  overflow: auto;
  text-align: center;
}

.games > .games__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-template-rows: repeat(7, 160px);
  grid-gap: 1rem;
  grid-auto-flow: dense;
  margin: 0px auto;
  list-style: none;
}

.games figure {
  margin: 0;
  padding: 0;
}

.games > .games__list .double-box {
  grid-column: span 2;
  grid-row: span 2;
}

.games > .games__list > li > figure {
  height: 100%;
  width: 100%;
}

.games > .games__list > li > figure > img {
  height: 100%;
  object-fit: cover;
}
